body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Fondos/fondo-aura.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 5px;

    box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
    -webkit-box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
    -moz-box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
  }
  button {
    border: none;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }

  button:hover {
    background-color: white; 
    color: black;
    border-color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .form input {
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  input[type="submit"] {
    border: none;
    background-color: #1860a8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #eventsContainer {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;

    box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
    -webkit-box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
    -moz-box-shadow: -13px 14px 16px 1px rgba(227,66,211,0.69);
  }
  
  .event {
    border: solid 1px #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event .days {
    text-align: center;
    width: 100px;
  }
  .event .days .days-number {
    font-size: 40px;
    font-weight: bold;
    display: block;
  }
  .event .event-name {
    padding: 10px;
    width: 200px;
  }
  .event .event-date {
    padding: 10px;
    width: 100px;
  }
  .event .actions {
    padding: 10px;
  }